/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

.headers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 24.9px;
  border-bottom: 1px solid #dbdbdb;
}

.headers ul li{
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

.headers ul li:last-child{
  margin-right: 50px;
}

.headers ul li .link{
  position: relative;
  text-decoration: none;
  color: #42424a;
  font-size: 18px;
  font-weight: 450;
  padding: 10px 0px;
  display: inline-block;
  transition:all ease 0.3s;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headers ul li .link:hover{
  color: #910707;
}

.menu ul li .link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #910707;
  border-radius: 10px;
  transition: width 0.3s ease; /* Transition only the width property */
}

.menu ul li .link:hover::before {
  width: 100%; /* When hovering, expand the width to 100% */
}

.headers ul .submenu{
  position: absolute;
  width: 200px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 45px #00000020;
  margin-top: -3px;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
}

.headers ul li:hover .submenu{
  z-index: 99;
  opacity: 1;
  margin-top: 0;
}

.headers ul .submenu li{
 
  list-style: none;
  margin: 0;
  width: 100%;
}

.headers ul .submenu li .sublink{
  padding: 15px 20px;
  display: inline-block;
  width: 100%;
  text-decoration: none; 
  color: #42424a;
}

.headers ul .submenu li .sublink:hover{
  color: #910707;
}

.mobilehamburger{
  width: 100%;
display: flex;
justify-content: flex-end;
border-bottom: 0.5px solid rgb(199, 191, 191);
box-shadow: 0 20px 45px #00000020;
z-index: 2;
}

@media screen and (max-width: 900px) {
  .headers{
    display: none;
  }
}

.mobilenavbody {
  display: block;
}


@media screen and (min-width:900px) {
  .mobilenavbody{
    display: none;
  }
}
.mobilenav{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #091835;
  transition: all ease 0.5s ;
}


.mobilenav ul li{
  list-style: none;
  padding: 10px 0;
  text-align: center;
}

.mobilenav ul li .mobilesubmenu{
  text-decoration: none;
  color: #FFFFFF;

}

.footerbg{
  background-color: #091835;
}

.footeritems {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates a grid with 4 equal-width columns */
  align-items: center;
  padding: 10px 20px;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .footeritems {
    grid-template-columns: repeat(2, 1fr); /* Adjust to two columns on medium screens */
    padding: 10px 10px;
    gap: 20px;
  }
  .footercolumns:nth-child(2) {
    margin-right: 0;
  }
  
  .footercolumns:nth-child(3) {
    margin-right: 0;
  }
}

.footercolumns:nth-child(2) {
  margin-right: 20px;
}

.footercolumns:nth-child(3) {
  margin-right: 20px;
}

.footercolumns{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  text-align: left;
  color: #FFFFFF;
  
}

.footerlinks{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 300;
}

.copyright{
  display: flex;
  width: 100%;
  justify-content: center;
  color: #FFFFFF;
  font-size: 13px;
}

.borderline {
  display: flex;
  justify-content: center;
  border: none; /* Remove the existing border property */
  border-top: 0.5px solid #FFFFFF;
  width: 70%; 
  height: 1px;
  margin: 1% 15%; 
}

.footertexts{
  font-size: 13px;
  font-weight: 300;
  color: #FFFFFF;
}

.heroimg{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../public/heroimage.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  color: #FFFFFF;
}

.heroheader{
  font-size: 50px;
}

.herotext{
  padding-left: 3rem;
  width: 600px;
  text-align: left;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 350px;
  background-color: #0e2d69; 
  box-shadow: 0 20px 45px #00000020;
  padding: 1rem;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  color: #000000;
}

.box:hover {
  color: #FFFFFF; /* Set the text color to white on hover */
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Start with 0 height to create the effect */
  background-color: #FFFFFF;
  z-index: -1; /* Set the pseudo-element behind the .box content */
  transition: height 0.7s ease-out; /* Animate the height property */
}

.box:hover::before {
  height: 0; /* Increase the height to 100% on hover */
  z-index: 0; /* Set a positive z-index value to make the pseudo-element appear on top */
}

.globe{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbdbdb;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.boxheader{
  font-size: 22px;
  font-weight: 600;
}

.boxcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 10px 20px;
  grid: 10px;
  height: auto;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 900px) {
  .boxcontainer{
    grid-template-columns: repeat(2, 1fr); /* Adjust to two columns on medium screens */
  }
  .box {
    max-width: 300px; 
    margin: 10px auto; 
  }
}

@media screen and (max-width: 480px) {
  .boxcontainer {
    grid-template-columns: 1fr; 
  }
  .box {
    max-width: 300px; 
    margin: 10px auto; 
  }
}

.servicebox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  background-color: #FFFFFF; 
  box-shadow: 0 20px 45px #00000020;
  padding: 1rem;
  text-align: left;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  color: #000000;
}

.servicescontainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 10px 20px;
  gap: 20px;
  height: auto;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 900px) {
  .servicescontainer{
    grid-template-columns: repeat(2, 1fr); /* Adjust to two columns on medium screens */
  }
  .box {
    max-width: 300px; 
    margin: 10px auto; 
  }
}

@media screen and (max-width: 480px) {
  .servicescontainer {
    grid-template-columns: 1fr; 
  }
  .servicebox {
    max-width: 400px; 
    margin: 10px auto; 
  }
}

.bgstretch{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #091835;
  margin: 5rem 0;
  padding: 2rem;
}

.innerbg{
background-color: #FFFFFF;
border-radius: 30px;
padding: 2rem;
}

.contactus{
margin: 5rem auto;
}

.contactform{
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 20px;
}

.welcome{
  font-size: 29px;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-bottom: 20px;
}

.subtexts{
  display: block;
  font-weight: 500;
  text-align: center;
  max-width: 800px;
  color: #555252;
  padding-top: 20px;
}

.visionright{
  padding: 35px 0;
  padding-left: 4rem;
}

.csrcontainer{
  display: flex;
}

@media screen and (max-width: 900px) {
  .subtexts{
    padding: 1rem;
  }
  .visionright{
    padding: 0 2.5rem;
  }
  .csrcontainer{
    display: flex;
    flex-direction: column;
  }
  .rightaddress{
    padding-left: 3rem;
    margin-bottom: 3rem;
  }
}

.csr{
  font-size: 25px;
  font-weight: 600;
  padding-left: 10px;
}

.csrtext{
  font-size: 14px;
  color: #555252;
  font-weight: 500;
}

.csrbox{
  width: 200px;
  height: auto;
  line-height: 30px;
  margin-top: 2rem;
  margin-right: 7px;
}

.visionleft{
  display: flex;
  justify-content: center;
  align-items: center;
}

.officeimg{
  width: 90%;
  height: 550px;
}